.App {
    text-align: center;
}

.board {
    margin: auto;
    background: rgb(223, 157, 223);
    width: 80vw;
    height: 80vw;
    padding: 10px;
    display: grid;
    grid-template-columns: "25px 3fr 100px 3fr 25px";
    grid-template-rows: "100px 600px";
    grid-auto-rows: minmax(50px, auto);
    ;
    grid-template-areas: ". title title title ."". player . computer .";
}

.title {
    background: white;
    grid-area: title;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px;
    grid-row: 1;
}

.player-player {
    grid-area: player;
}

.player-computer {
    grid-area: computer;
}